{{#extend "index"}}
{{#content "content"}}
{{#if header}}
{{{header}}}
{{else}}}
Hello, my name is Pavel Nakonechnyy. <i>I'm a web dev, blogger and project manager.</i>
<ul class="footerlist">
    <li class="footerlink"><a href="/portfolio">Моё портфолио</a></li>
</ul>
{{/if}}
<h2>Посты</h2>
{{#if posts}}
<ul class="frontposts">
    {{#each posts}}
    <div class="frontwrapper">
        <li class="frontlink">
            <a href="/{{url}}">{{title}}</a>
        </li>
    </div>
    {{/each}}
</ul>
{{else}}
<p>No posts</p>
{{/if}}

{{#if nextpage}}
<hr>
<div class="row">
    <div class="col-12">
        <a href="/p/{{nextpage}}" style="float:right; text-align:right;">Следующая страница &rarr;</a>
    </div>
</div>
{{/if}}
{{/content}}
{{/extend}}