{{#extend "index"}}
{{#content "content"}}
{{#if posts}}
<ul>

    {{#each posts}}
    <li>
        <a href="/{{url}}">{{title}}</a>
    </li>
    {{/each}}
</ul>
{{else}}
<p>Нет постов</p>
{{/if}}
<hr>
<div class="row">
    <div class="col-sm-12 col-md-6">
        {{#if prevpage}}
        <a href="{{prevpage}}">&larr; Предыдущая страница</a>
        {{/if}}
    </div>
    <div class="col-sm-12 col-md-6">
        {{#if nextpage}}
        <a href="{{nextpage}}" style="float:right; text-align:right;">Следующая страница &rarr;</a>
        {{/if}}
    </div>
</div>

<div class="row">
    <div class="col-12">
        <span style="display: block; text-align: center;">Страница {{pagenum}}</span>
    </div>
</div>
{{/content}}
{{/extend}}